<?xml version="1.0" encoding="utf-8"?>
<generatorsSection enabled="true">
  <projects>
    <clear />
    <project name="Pssa.Sdk.Net" enabled="false">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Pssa.Sdk.Net.Tests" enabled="false">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Contracts" enabled="false">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Net" enabled="true">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Net.Mails" enabled="true">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Net.Ftp" enabled="true">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Net.Http" enabled="true">
      <scripts>
        <clear />
      </scripts>
    </project>
    <project name="Black.Beard.Sdk.Net.Tests" enabled="true">
      <scripts>
        <clear />
      </scripts>
    </project>
  </projects>
</generatorsSection>